
cardinals_2020.csv
data/AgencyHistoricFirePerimeters_2010_2019.cpg
data/AgencyHistoricFirePerimeters_2010_2019.dbf
data/AgencyHistoricFirePerimeters_2010_2019.shp
data/AgencyHistoricFirePerimeters_2010_2019.prj
data/AgencyHistoricFirePerimeters_2010_2019.shp.xml
data/AgencyHistoricFirePerimeters_2010_2019.shx
