
cardinals_2020.csv
data/AgencyHistoricFirePerimeters_2010_2019.cpg
data/AgencyHistoricFirePerimeters_2010_2019.dbf
data/AgencyHistoricFirePerimeters_2010_2019.shp
data/AgencyHistoricFirePerimeters_2010_2019.prj
data/AgencyHistoricFirePerimeters_2010_2019.shp.xml
data/AgencyHistoricFirePerimeters_2010_2019.shx
scripts/data/AgecnyHistoricFirePerimeters_2020.dbf
scripts/data/AgecnyHistoricFirePerimeters_2020.prj
scripts/data/AgecnyHistoricFirePerimeters_2020.shp
scripts/data/AgecnyHistoricFirePerimeters_2020.cpg
scripts/data/AgencyHistoricFirePerimeters_2010_2019.cpg
scripts/data/AgencyHistoricFirePerimeters_2010_2019.dbf
scripts/data/AgecnyHistoricFirePerimeters_2020.shx
scripts/data/AgecnyHistoricFirePerimeters_2020.shp.xml
scripts/data/AgencyHistoricFirePerimeters_2010_2019.shp.xml
scripts/data/AgencyHistoricFirePerimeters_2010_2019.shp.xml
scripts/data/AgencyHistoricFirePerimeters_2010_2019.shp
scripts/data/AgencyHistoricFirePerimeters_2010_2019.shx
scripts/data/AgencyHistoricFirePerimeters_2010_2019.prj
